<div class="object-container">
  <h2>Current Survey Questions</h2>
  {{#each model as |question|}}
    <div>{{#link-to "questions/update" question}}{{question.questionText}}{{/link-to}}</div>
  {{/each}}
</div>

{{outlet}}
{{!-- link to GET questions/new --}}